<%- layout("./layouts/boilerplate.ejs") %>

<body>
    <form method="GET" action="/listings/new">
        <button>Create New Listings</button>
    </form>
    <h1>Job posts</h1>
    <% for(listing of allListings){ %>
        <a href="/listings/<%= listing._id %>"> <%= listing.title %></a>
        <br>
    <% } %>
    <h1>hellow ritesh</h1>
</body>
