<%- layout("./layouts/boilerplate.ejs") %>

<body>
    <form method="GET" action="/listings/new">
        <button>Create New Listings</button>
    </form>
    <h1>Job posts</h1>
    <div class="rows mt-3">
        <% for(listing of allListings){ %>

            <div class="card" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title"><%= listing.title %></h5>
                <h6 class="card-subtitle mb-2 text-body-secondary"><%= listing.description %></h6>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
                <a href="/listings/<%= listing._id %>" class="card-link">Details</a>
                </div>
            </div>

        <% } %>
    </div>
</body>
