<%- layout("./layouts/boilerplate.ejs") %>

<body>
    <h1>Create your listing here...</h1>
    <form method="POST" action="/listings">
        <input type="text" placeholder="enter title" name="listings[title]">
        <br> <br>
        <textarea placeholder="enter description" name="listings[description]"></textarea>
        <br> <br>
        <textarea placeholder="enter requirements" name="listings[requirements]"></textarea>
        <br> <br>
        <input type="number" placeholder="enter salary" name="listings[salary]">
        <br> <br>
        <input type="date" placeholder="enter date" name="listings[created_at]">
        <br> <br>
        <button>Post</button>
    </form>
</body>
